.login {
    display: flex;
    background-color: white;
    padding: 10px;
        border: none;
        height: 30px;
}

.login:hover {
        transform: scale(1.5)
}

.svgimage {
    width: 15px;
    height: 15px;
    background-color: white;
}

.loginButton {
    background-color: white;
}

.loginButton{background-color: white;
border: none;}